/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* :root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
} */

/* For readability concerns, you should choose a lighter palette in dark mode. */
/* [data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
} */


:root {
  --ifm-color-primary: #397aa2;
  --ifm-color-primary-dark: #336e92;
  --ifm-color-primary-darker: #30688a;
  --ifm-color-primary-darkest: #285571;
  --ifm-color-primary-light: #3f86b2;
  --ifm-color-primary-lighter: #428cba;
  --ifm-color-primary-lightest: #589bc4;
}

[data-theme='dark'] {
  --ifm-color-primary: #34adf9;
  --ifm-color-primary-dark: #17a1f8;
  --ifm-color-primary-darker: #089bf8;
  --ifm-color-primary-darkest: #0680cd;
  --ifm-color-primary-light: #51b9fa;
  --ifm-color-primary-lighter: #60bffa;
  --ifm-color-primary-lightest: #8cd0fc;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');

.ics-link, .ics-link:hover {
  color: #089bf8;
} 

/* .footer-links a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-links i {
  font-size: 1.2em !important;
} */

footer .footer__links > div:nth-child(1) a, footer .footer__links > div:nth-child(1) a i {
  color: #089bf8 !important;
}

.footer__link-item:hover{
  color: #089bf8 !important;
}

.footer__link-item svg {
  display: none;
}

.nav-link svg{
  display: none;
}

.custom-link{
  color: #ef4444;
}